{% extends 'base.template.html' %}

{% block content %}
    <h1>Reviews</h1>
    {% for each_review in reviews %}
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'one_toy_route' toy_id=each_review.toy.id %}">{{each_review.toy}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{each_review.rating}}</h6>
        <p class="card-text">
            {{each_review.desc}}
        </p>
        <p>
            Posted by: {{each_review.user}}
        </p>
        <p>
            Posted on: {{each_review.date}}
        </p>
        {% if each_review.user == request.user %}
            <a href="{% url 'update_review_route' review_id=each_review.id %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'delete_review_route' review_id=each_review.id %}" class="btn btn-primary btn-sm">Delete</a>
        {% endif %}
      </div>
      {% endfor %}
{%endblock%}