{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toys</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Toys</h1>
    <p>
        Here you can see all the toys that we have.
    </p>
    <ul>
        {%for toy in toys %}
        <li>{{toy.title}} 
            <a href="{% url 'update_toy_route' toy_id=toy.id %}">Edit</a>
            <a href="{% url 'delete_toy_route' toy_id=toy.id %}">Delete</a> 
        </li>
        <li>{{toy.price}}</li>
        <li>{{toy.desc}}</li>
        {%endfor%}
    </ul>

</body>
</html>
