{% extends 'base.template.html' %}
{% load cloudinary %}
{% load static %}


{% block content %}
    <h1>{{request.user}}: Your Shopping Cart</h1>

    <div class="col-md-12">
        {%for key, item in cart.items %}
        <div class="card mt-2 mb-2">       
            <div class="card-body">
                <div class="card-title">
                    <h3>{{item.title}}</h3>
                </div>
                    <div>
                        <form method="POST" action="{% url 'update_cart_quantity' toy_id=item.id%}">
                            {% csrf_token %}
                            {% cloudinary item.cover alt="Product image" width=200 height=120 crop="fill"%}
                            <br>
                            Quantity:<input type="text" value="{{item.qty}}" name="qty" style="width:40px" />
                            <input class="btn btn-primary btn-sm" type="submit" value="Update Quantity">
                        </form>
                        <br>
                    </div>
                    Price: SGD ${{item.price}}
                    <a href="{% url 'remove_from_cart' toy_id=item.id %}" class="btn btn-danger btn-sm">Remove</a>
                    <br>
                    Sub-total: SGD ${{item.total}}
                    <br>
            </div>

        </div>
        {%endfor%}
    </div>
    <br>

    {% if cart.items|length > 0 %}
    <div id="checkout">
        <div class="col-md-12">
            <h2>Total Purchase Amount: SGD ${{grand_total|floatformat:2}}</h2>
            <p>Please note that payment mode is by credit card.</p>
            <p>Self collect your items at the nearest POPstation. Collection details will be emailed to you after your purchase.</p> 
        </div>

        <a href="{% url 'checkout' %}" class="btn btn-success">Checkout using credit card</a>
    </div>
    {% else %}
    <p>Your cart is empty!</p>
    {% endif %}
{%endblock%}