<div id="display_toys">  
    <ul>
        {%for toy in toys %}
        <li>{{toy.title}} 
           
        </li>
        <li>{{toy.price}}</li>
        <li>{{toy.country}}</li>
        <li>{{toy.age}}</li>
        <li>{{toy.desc| truncatechars:100 }}</li>
        <br>
        <div class="card" style="max-width: 320px; height: 350px">
            <div class="card_image">
                <a href="{%url 'one_toy_route' toy_id=toy.id %}">
                    <img src="" class="card-img-top thumbnail" alt="{{toy.title}}"/>
                </a>
            </div>
            <div class="card-body">
            <a href="{%url 'one_toy_route' toy_id=toy.id %}">
                <h5 class="card-title center_text">{{toy.title}}</h5>
            </a>
            <h6 class="card-text center_text">
                {{toy.price}}
            </h6>
            <h6 class="card-text center_text">
                {{toy.desc| truncatechars:100 }}
            </h6>
            </div>
        </div>
        {%endfor%}
    </ul>
</div>  