{% extends 'base.template.html' %}
{%load crispy_forms_tags %}
{%load static %}

{%block content%}
    
    {% if request.user.is_authenticated  %}
    <p>Welcome {{request.user}}</p>
        {% if request.user.is_superuser %}
            <a href="{% url 'create_toy_route' %}" class="btn btn-primary btn-sm">Add New Toy</a>
        {% endif %}
    {% else %}
    <p>Please <a href="/accounts/login">Login</a></p>
    {%endif%}

    <h2 class="header_style">Search for your favourite toy!</h2>
    <form method="GET" action="{% url 'search_toy' %}">
        {{search_form|crispy}}
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>
    


{%endblock%}

