{%extends 'base.template.html' %}
{%load crispy_forms_tags %}
{% load cloudinary %}
{% load static %}

{%block content%}
    <div class="container">
        <div class="row">
            <h1>{{toy.title}}</h1>
        </div>
        <div class="row">
            <ul>
                <li>Brand: {{toy.brand}}</li>
                <li>Price: {{toy.price}}</li>
                <li>Age Group: {{toy.age}}</li>
                <li>Country of Origin: {{toy.country}}</li>
            </ul>
        </div>
        <div class="row">
            {% cloudinary toy.cover %}
        </div>
        <div class="row">
            {{toy.desc}}
        </div>
        <div class="row">
            {{toy.features}}
        </div>
        <div class="row">
            <a href="{% url 'update_toy_route' toy_id=toy.id %}">Edit</a>
            <a href="{% url 'delete_toy_route' toy_id=toy.id %}">Delete</a>
        </div>
        <div class="row">
            <h2>Leave a Review for this Toy <a href="{% url 'create_review_route' toy_id=toy.id %}" class="btn btn-primary">Write Review</a></h2>
        </div>
        <div class="row">
            {%for r in toy.review_set.all %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{r.title}}</h5>
                        <h5 class="card-title">{{r.rating}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{r.user}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{r.date}}</h6>
                        <p class="card-text">{{r.desc}}</p>
                    </div>
                </div>
            {%endfor%}
        </div>

    </div>

{%endblock%}
