{%extends 'base.template.html' %}
{%load crispy_forms_tags %}
{% load cloudinary %}
{% load static %}

{%block content%}
    <form method="GET">
        {{search_form|crispy}}
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>

    <div class="display_cards">  
        {%for toy in toys %}
            <div class="card" style="width: 500px; height: 350px; margin: 20px;">
                <div class="card_image">
                    <a href="{%url 'one_toy_route' toy_id=toy.id %}">
                        {% cloudinary toy.cover width=200 height=120 crop="fill"%}
                    </a>
                </div>
                <div class="card-body">
                    <a href="{%url 'one_toy_route' toy_id=toy.id %}">
                        <h5 class="card-title center_text">{{toy.title}}</h5>
                    </a>
                    <h6 class="card-text center_text">
                        ${{toy.price}}
                    </h6>
                </div>
            </div>
        {%endfor%}
    </div>  
    
{%endblock%}