body {
    background-color: white;
}


.card {
    display: flex;
    width: 500px; 
    height: 350px;
    margin: 20px;
}

#display_toys {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


