body {
    background-color: rgba(	135, 206, 250, 1);
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

/* Highlight text using cursive */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
}

.cursive {
    font-family: 'Caveat', cursive;
}

/* Text for heavy reading in sans-serif */
p, a {
    font-family: 'Quicksand', sans-serif;

}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.spacing {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.header_style {
    margin-top: 15px;
    color: white;
}

/* the container background to read text clearly */
.text_background {
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
}

/* hero image */
.hero-container {
    height: 500px;
}

#heroimage {
    max-width: 100%;
    max-height: 100%;
}

/* button styling */
.btn-success {
    color: black;
    background-color: rgba(255, 242, 0, 1);
    border-color: rgba(255, 242, 0, 1);
}

.btn-success:hover {
    color: black;
    background-color: rgba(255, 216, 0, 1);
    border-color: rgba(255, 216, 0, 1);
}

/* card styling design */
.card {
    display: flex;
    width: 500px; 
    height: 350px;
    margin: 20px;
}

.display_cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review_display {
    margin-top: 30px;
}

/* Checkout box */
#checkout {
    background-color: white;
    padding: 20px;
}

/* Footer */
#base-footer {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 300px;
  margin-bottom: 0px;

}
