body {
    background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: repeat;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    
}

/* Highlight text using cursive */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
}

.cursive {
    font-family: 'Caveat', cursive;
}

/* Text for heavy reading in sans-serif */
p, a {
    font-family: 'Quicksand', sans-serif;

}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.spacing {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.header_style {
    margin-top: 15px;
}

/* the container background to read text clearly */
.text_background {
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
}

/* card styling design */
.card {
    display: flex;
    width: 500px; 
    height: 350px;
    margin: 20px;
}

.display_cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review_display {
    margin-top: 30px;
}

/* Footer */
#base-footer {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 300px;
  margin-bottom: 0px;

}
